h1 {
    text-align: center;
    font-size: 50px;
}

h2 {
    text-align: center;
}

.rules {
    text-align: left;
    font-size: 25px;
}

body {
    margin: 0;
    display: grid;
    justify-items: center;
    align-items: center;
}

#rules {
    width: 400px;
    margin-left: 0 auto;
    display: grid;
    grid-template-columns: 400px;
    grid-template-rows: 400px;
    border: solid;

}

#blockParent {
    width: 600px;
    margin-left: 0 auto;
    margin-top: 75px;
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
}

.block {
    border: solid;
}

.block:first-child,
.block:nth-child(2),
.block:nth-child(3)  {
    border-top: none;
}

.block:first-child,
.block:nth-child(4),
.block:nth-child(7) {
    border-left: none;
}

.block:nth-child(3),
.block:nth-child(6),
.block:nth-child(9) {
    border-right: none;
}

.block:nth-child(7),
.block:nth-child(8),
.block:nth-child(9) {
    border-bottom: none;
}


.symbolX {
    font-size: 200px;
    font-family:  'Roboto', sans-serif;
}

.symbolO {
    font-size: 200px;
    font-family: 'Roboto', sans-serif;
}

#symbols {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    width: 25%; 
}


.btn-one {
    background: transparent;
    border: none;
    width: 100%;
    height: 100%;
    font-size: 150px;
}

.btn-two {
    background: transparent;
    border: none;
    width: 100%;
    height: 100%;
    font-size: 150px;
}

.btn-three {
    background: transparent;
    border: none;
    width: 100%;
    height: 100%;
    font-size: 150px;
}

.btn-four {
    background: transparent;
    border: none;
    width: 100%;
    height: 100%;
    font-size: 150px;
}

.btn-five {
    background: transparent;
    border: none;
    width: 100%;
    height: 100%;
    font-size: 150px;
}

.btn-six {
    background: transparent;
    border: none;
    width: 100%;
    height: 100%;
    font-size: 150px;
}

.btn-seven {
    background: transparent;
    border: none;
    width: 100%;
    height: 100%;
    font-size: 150px;
}

.btn-eight {
    background: transparent;
    border: none;
    width: 100%;
    height: 100%;
    font-size: 150px;
}

.btn-nine {
    background: transparent;
    border: none;
    width: 100%;
    height: 100%;
    font-size: 150px;
}

.player2 {
    color: red;
}

.win-alert {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
}

.win-alert.show {
    display: flex;
}

#playAgain {
    font-size: 25px;
    background-color: pink;
}

#startGame {
    font-size: 50px;
    background-color: pink;
}

#startGame:hover {
    background-color: hotpink;
}